.table-auto{
    width: 100%;
    overflow-x: auto;    

}
.search-height{
    height: 32px;
    
}
@media screen and (max-width:500px) {
    .table-auto{
     display: block;
    }
.search-height{
    width: 115px;
}
    
}
.lh-1{
    line-height: 1rem;
}
.lh-2{
    line-height: 2rem;
}
.ps-0{
    padding-left: 0;
}
.pe-0{
    padding-right: 0;
}
.f-75{
 font-size: 0.75rem;
}